<div class="task-view-container">
    <div class="more-menu">
        <button (click)="$event.stopPropagation()" [matMenuTriggerFor]="menu" class="trash-done" mat-icon-button
            aria-label="Example icon button with a vertical three dot icon">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="switchToBacklog(task)">Backlog</button>
            <button mat-menu-item (click)="editTask()">Edit</button>
            <button mat-menu-item (click)="deleteTask(task)">Delete</button>
        </mat-menu>
    </div>
    <!-- <button class="edit-btn" mat-raised-button (click)="editTask()">Edit</button> -->
    <h2>{{task.title}}</h2>
    <div class="description">
        <span class="description-title">Description:</span>
        <!-- <span>{{task.description}}</span> -->
        <div class="textfield-container max-height">{{task.description}}</div>
    </div>
    <div>
        @if (task.subTasks) {
        <div>
            <h4 style="margin-bottom: 0;">Subtasks</h4>
            <div class="subtasks-container">

                <button mat-raised-button (click)="openSubtaskDialog()">View Subtasks</button>

            </div>
        </div>
        }

    </div>
    <div class="prop-container">

        <div>
            <span>Category:</span>
            <mat-chip>{{task.category}}</mat-chip>
        </div>
        <div>
            <span>Project:</span>
            @if (task.project) {
            <mat-chip>{{task.project}}</mat-chip>
            }@else {
            <mat-chip>-</mat-chip>
            }
        </div>
        <div>
            <span>Priority:</span>
            @if (priorities) {
            <div class="priority-box" [ngStyle]="{ 'background-color': getColor}"></div>
            }
        </div>
        @if (task.deadline) {
        <div>
            <span>Deadline:</span>
            <span>{{task.deadline}}</span>
        </div>

        }
        <div>
            <span>Assignee:</span>
            <span class="assignee">
                <img src="assets/img/profile/{{task.staff.image}}" alt="{{task.staff.name}}">{{task.staff.name}}
            </span>
        </div>
        <div>
            <span>Creator:</span>
            <mat-chip>{{task.creator}}</mat-chip>
        </div>
    </div>
</div>