.card {
    height: 200px;
    cursor: pointer;
    padding-right: 16px;
    filter: drop-shadow(2px 4px 6px black);
    position: relative;

    .header-title {
        line-height: 1.2 !important;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    .border-box {
        height: 100%;
        padding-bottom: 16px;
        box-sizing: border-box;
    }

    .header-img {
        background-size: cover;
        background-color: #c5afaf;
    }

    mat-card-content {
        overflow: auto;
        height: 50%;
    }

    .footer {
        // display: flex;
        // justify-content: space-around;
    }

    .trash-done {
        position: absolute;
        color: black;
        top: 8px;
        right: -4px;
        display: flex;
        justify-content: center;
        align-items: center;

        mat-icon {
            font-size: 40px;
            height: 40px;
            width: 40px;
            overflow: visible;
        }
    }
}

.done {
    filter: brightness(0.5);
}