<h2>Help</h2><br>
<hr>
<details>
    <summary>1. Workflow</summary>
    <p>
        In order to make your workflow easier and to improve the processing speed of your tasks, we have created this KANBAN board for you.<br> So let's take a closer look how it works: <br><br> You can create a new task by clicking on
        <strong class="code"> Add Task </strong>in the navigation bar. <br><br> A new added task has got the status <strong>backlog</strong> at the beginning and will be displayed in the backlog section only. From there you can move it to the
        board, where it will occure in the column <strong> TO DO </strong> at first. <br><br> On the board section you change the status of a task by dragging & dropping it, depending on it's progress. <br><br>

    </p>
</details>
<details>
    <summary>2. Board</summary>
    <p>
        The board is the core feature of this tool. There is no easier way to organise and schedule the tasks that needs to be done. You got four columns on the board plus a trash column which is hidden by default. <br> The four standard columns
        are:
    </p>
    <ol>
        <li>TO DO</li>
        <li>SCHEDULED</li>
        <li>IN PROGRESS</li>
        <li>DONE</li>
    </ol>
    <p>In order to display the fifth column (the trash) there are two options to achieve this: <br> - by double click on the bin icon in the lower right corner on the screen <br> - by toggeling the bin icon in the icon bar on top of the screen <br><br>                Once the column <strong>DELETED</strong> is displayed, you can use it just like the other columns. Drag and drop tasks into or from the trash.

    </p>
</details>
<details>
    <summary>3. Backlog</summary>
    <p>
        Once a new task is created, it will appear in the backlog first. The backlog is meant to give you an overview about all tasks that are in the queue. In order to move a created task to the board, press the button <strong class="code">TO BOARD</strong>                <br><br> On the board the task will be displayed in the <strong>TO DO</strong> column at the beginning. From there you can drag it into any desired column, depending on the state it is. <br> To refuse the task, simply press the bin icon
        in the upper right corner and the task will be moved to the trash.
    </p>
</details>
<details>
    <summary>4. Add task</summary>
    <p>
        Adding a new task is very easy.<br> A form will occure that you simply fill out with all necessary informations. <br> Please mind that fields with a red asterisk<strong class="red">*</strong> are required fields! <br><br> If the <strong> due date </strong>                is omitted, the current date will be assigned.
    </p>
</details>
<details>
    <summary>5. Edit, print or delete tasts</summary>
    <p>
        To<strong> edit a task </strong>you can simply<strong> double click </strong>it. The edit form will be opened. Once your changes are done confirm them by click on the button <strong class="code">APPLY CHANGES</strong> <br><br> To <strong> print a task </strong>                please click on the <strong> printer icon </strong> in the task's top right corner. A new window will be opened that allows you to print out your task. <br><br> For <strong> deleting a task </strong> simply <strong> drag it over the trash bin </strong>                in the lower right corner. (Must be enabled by toggeling the bin in the icon bar.) <br> You can also simply drag it into the <strong> DELETED </strong>column, if it is visible. <br><br> If you want to remove a deleted task completely from
        the records, you can do that by clicking the bin icon in the top right corner of the task. <br> Please note that this icon is visible only, if the task has been moved to the trash already! Before the task is going to be removed completely,
        you will have to confirm this process.
    </p>
</details>
<details>
    <summary>6. Search function</summary>
    <p>
        By help of the search function you can search in all available tasks on the board for any information required. <br> Any task that matches the search critereon, will be displayed immediately, while all non matching tasks will be hidden.
        <br><br> The search will cover:<br> - the title<br> - the description<br> - the due date<br> - the task's priority<br> - the assigned user<br>
    </p>
</details>
<details>
    <summary>7. Settings</summary>
    <p>
        <strong class="red">CAUTIION! The red features are not completely implemented yet!</strong> <br><br> This opens a form to adjust the individual settings. <br> You can change the following options:</p>
    <ol>
        <li>the color of the task priority</li>
        <li>the category the task belongs to</li>
        <li>the column headers</li>
        <li class="red">new users (with portrait if wanted)</li>
    </ol>
</details>