<div class="legal">
    <h1>Impressum</h1>
    <h2 id="m46">Diensteanbieter</h2>
    <p>John Fieweger</p>
    <p>Schwerinallee</p>

    <h2 id="m56">Kontaktmöglichkeiten</h2>
    <p>E-Mail-Adresse: <a href="mailto:john.fieweger98@gmail.com">john.fieweger98&#64;gmail.com</a></p>

    <p class="seal"><a href="https://datenschutz-generator.de/"
            title="Rechtstext von Dr. Schwenke - für weitere Informationen bitte anklicken." target="_blank"
            rel="noopener noreferrer nofollow">Erstellt mit kostenlosem Datenschutz-Generator.de von Dr. Thomas
            Schwenke</a>
    </p>
</div>