.card {
    height: 200px;
    cursor: pointer;
    padding-right: 16px;
    filter: drop-shadow(2px 4px 6px black);
    position: relative;
    .border-box {
        height: 100%;
        padding-bottom: 16px;
        box-sizing: border-box;
    }
    .header-img {
        background-size: cover;
    }
    mat-card-content {
        overflow: auto;
        height: 30%;
    }
    .footer {
        // display: flex;
        // justify-content: space-around;
    }
    .trash-done {
        position: absolute;
        color: black;
        top: 16px;
        right: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        mat-icon {
            font-size: 40px;
            height: 40px;
            width: 40px;
            overflow: visible;
        }
    }
}
.done {
    filter: brightness(0.5);
}
