<h2>Login</h2>
<form #form='ngForm' (ngSubmit)="loginWithEmail()">
    <label for="email">Email:</label>
    <input type="email" [(ngModel)]="email" name="email" required>

    <label for="password">Password:</label>
    <input type="password" [(ngModel)]="password" name="password" required>

    <button [disabled]="form.invalid" type="submit">Login</button>
</form>

<button (click)="loginWithGoogle()">Login with Google</button>
<button (click)="loginAnonymously()">Login Anonymously</button>

<p>Don't have an account? <a routerLink="/register">Register here</a></p>