/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

body::-webkit-scrollbar {
    width: 0.5em;
}

body::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.w-50p {
    width: 50%;
}

@media (max-width: 1000px) or (max-height: 1000px) {
    .columns {
        justify-content: unset !important;
        overflow: auto;
        height: 80% !important;

        .drop-box {
            height: 85% !important;

            .ticket {
                margin: 0 !important;
            }
        }
    }

    .ticket {
        scale: 0.8;
    }

    .card {
        mat-card-title {
            font-size: medium;
        }

        mat-card-subtitle {
            font-size: small;
        }
    }

    .priority-container {
        flex-direction: column;
    }

    .change-container {
        flex-direction: column;
    }
}

@media (max-width: 600px) {
    .nav {
        display: none !important;
    }

    .nav-menu {
        display: block !important;
    }

    .backlog-item {
        display: flex !important;
        flex-direction: column;
        height: 100px !important;

        .border-right {
            border-right: unset !important;
        }
    }
}

@media (max-width:400px) {
    .w-50p {
        width: 80%;
    }
}