<div class="task-container">

    <form class="task-form">
        @if(task){
        <h2>EDIT TASK</h2>
        }
        @else{
        <h2>CREATE TASK</h2>
        }

        <mat-form-field class="example-full-width">
            <mat-label>Title</mat-label>
            <input matInput type="text" name="title" required [(ngModel)]="title" maxlength="50">
        </mat-form-field>

        <mat-form-field class="task-textarea">
            <mat-label>Description</mat-label>
            <textarea style="min-height: 200px;" matInput name="description" [(ngModel)]="description"></textarea>
        </mat-form-field>

        <div class="cp-container">
            <mat-form-field class="w-250">
                <mat-label>Category</mat-label>
                <mat-select [formControl]="categoriesControl" required>
                    @if (userItems?.role ==='admin') {
                    <mat-option (click)="openAddDialog('categories')">- add new -</mat-option>
                    }
                    @for (category of categories; track category) {
                    <mat-option [value]="category">{{category}}</mat-option>
                    }
                </mat-select>
                @if (categoriesControl.hasError('required')) {
                <mat-error>Please choose a category</mat-error>
                }
            </mat-form-field>
            <mat-form-field class="w-250">
                <mat-label>Priority</mat-label>
                <mat-select [formControl]="prioritiesControl" required>
                    <!-- <mat-option>- add new -</mat-option> -->
                    @for (priority of priorities; track priority) {
                    <mat-option [value]="priority.key">{{priority.key}}</mat-option>
                    }
                </mat-select>
                @if (prioritiesControl.hasError('required')) {
                <mat-error>Please choose a priority</mat-error>
                }
            </mat-form-field>
            <mat-form-field class="w-250">
                <mat-label>Project</mat-label>
                <mat-select [formControl]="projectControl">
                    @if (userItems?.role ==='admin') {
                    <mat-option (click)="openAddDialog('projects')">- add new -</mat-option>
                    }
                    <mat-option>- empty -</mat-option>
                    @if(isAllProjects){
                    @for (project of projects; track project) {
                    <mat-option [value]="project">{{project}}</mat-option>
                    }
                    }@else {
                    @for (project of userItems?.projects; track project) {
                    <mat-option [value]="project">{{project}}</mat-option>
                    }
                    }

                </mat-select>
            </mat-form-field>
        </div>

        <div class="ds-container">
            <div>
                <mat-form-field class="margin-top w-250">
                    <mat-label>Deadline</mat-label>
                    <input (dateInput)="selectDate($event)" matInput [matDatepicker]="dp3"
                        [value]="dueDateControl.value">
                    <!-- <mat-hint>DD.MM.YYYY</mat-hint> -->
                    <mat-datepicker-toggle matIconSuffix [for]="dp3"></mat-datepicker-toggle>
                    <mat-datepicker #dp3></mat-datepicker>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field class="margin-top w-250">
                    <mat-label>Add new subtask</mat-label>
                    <input matInput type="text" [(ngModel)]="value" name="subTask" (keydown.enter)="addToSubTasks()"
                        maxlength="30">
                    @if (value) {
                    <!-- <div matSuffix class="subtasks-btn">
                        <button mat-icon-button aria-label="Clear" (click)="value=''">
                            <mat-icon>close</mat-icon>
                        </button>
                        <mat-divider style=" --mat-divider-width: 2px;" vertical="true"></mat-divider>
                        <button style="margin-bottom: 4px;" mat-icon-button aria-label="Clear"
                            (click)="addToSubTasks()">
                            <mat-icon>check</mat-icon>
                        </button>
                    </div> -->
                    }@else {
                    <button matSuffix mat-icon-button aria-label="Add">
                        <mat-icon>add</mat-icon>
                    </button>
                    }
                </mat-form-field>
                <div class="w-250 subtasks-container">
                    @for (task of subTasks; track $index) {
                    <div class="subtask-container ">
                        @if (!subTaskEdit) {
                        <span>• {{task.title}}</span>
                        <div class="subtasks-btn">
                            <!-- <button mat-icon-button aria-label="edit" (click)="editSubTask(); subTaskChange=task.title">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <mat-divider style=" --mat-divider-width: 2px;" vertical="true"></mat-divider> -->
                            <button mat-icon-button aria-label="trash" (click)="deleteSubTask($index)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                        }@else {
                        <mat-form-field>
                            <input autofocus matInput type="text" [(ngModel)]="subTaskChange" name="subTaskChange">
                            <div matSuffix class="subtasks-btn">
                                <button mat-icon-button aria-label="Clear" (click)="editSubTask()">
                                    <mat-icon>delete</mat-icon>
                                </button>
                                <!-- <mat-divider style=" --mat-divider-width: 2px;" vertical="true"></mat-divider>
                                <button style="margin-bottom: 4px;" mat-icon-button aria-label="Clear"
                                    (click)="changeSubTask($index)">
                                    <mat-icon>check</mat-icon>
                                </button> -->
                            </div>
                        </mat-form-field>
                        }

                    </div>
                    }
                </div>

            </div>
            <mat-form-field class="margin-top w-250">
                <mat-label>Select an editor</mat-label>
                <mat-select [(value)]="selectedStaff">
                    @for (staff of staffs; track staff) {
                    <mat-option [value]="staff">{{staff.display_name}}</mat-option>
                    }

                </mat-select>
            </mat-form-field>

        </div>


        <div class="task-button-container">
            @if(!task){
            <button mat-raised-button (click)="navigateTo('/')">Cancel</button>
            <button [disabled]="controlForm()" mat-raised-button (click)="saveTask()">Create Task</button>
            }@else{
            <button mat-raised-button (click)="closeDialog()">Cancel</button>
            <button [disabled]="controlForm()" mat-raised-button (click)="saveEditedTask()">Save Task</button>
            }

        </div>

    </form>

    @if (isDialogOpen) {
    <div class="dialog-overlay" (click)="closeAddDialog()">
        <div class="dialog" (click)="$event.stopPropagation()">
            <h3>Add new {{selectedOption}}</h3>
            <mat-form-field class="example-full-width">
                <mat-label>New item</mat-label>
                <input matInput type="text" name="addItem" required [formControl]="newItemSelected">
                @if (newItemSelected.invalid) {
                <mat-error>only letters</mat-error>
                }
            </mat-form-field>
            <div>
                <button [disabled]="dialogControl()" mat-raised-button (click)="saveNewItem()">Save</button>
                <button mat-raised-button (click)="closeAddDialog()">Close</button>
            </div>
        </div>

    </div>
    }

</div>