<mat-card class="card" [ngClass]="{'done': task.status === 'DONE'}" (click)="openTaskDialog()">


    <div class="border-box" [style.border-right]="'8px solid ' + getColorPriority(task.priority)">


        <mat-card-header>
            <img mat-card-avatar class="header-img" src="assets/img/profile/{{task.staff.image}}"
                alt="{{task.staff.name}}">
            <div class="header-container">
                <mat-card-title class="header-title">{{task.title}}</mat-card-title>
                <div class="header-subtitle">
                    <mat-card-subtitle class="header-title">{{task.category}}</mat-card-subtitle>
                    @if(task.project){
                    <mat-card-subtitle class="header-title">{{task.project}}</mat-card-subtitle>
                    }
                    <mat-card-subtitle class="header-title">{{task.ticketNumber}}</mat-card-subtitle>
                </div>
            </div>

        </mat-card-header>
        <mat-card-content>
            <div class="textfield-container">
                {{task.description}}
            </div>
        </mat-card-content>
        <mat-card-footer class="footer">
            @if (task.deadline) {
            <div class="deadline">
                <span>Deadline: </span>
                <span>{{task.deadline}}</span>
            </div>
            }
            @if (task.subTasks) {
            <div class="subtasks-progress">
                <mat-progress-bar style="width: 40%;" mode="determinate" value="{{getProgress}}"></mat-progress-bar>
                <span>{{getCheckedSubTasks}}/{{task.subTasks.length}} Subtasks</span>
            </div>

            }
        </mat-card-footer>
    </div>
</mat-card>